@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

body{
    font-family: "Inter", sans-serif;
    font-size: 16px;
    color: #1D1D1D;
    font-style: normal;
    line-height: 23.8px;
    text-align: left;
    background-color: #F3F6FB;
}

.nav a{
    margin-right: 10px;
}

/* lab6 */
.highlight{
    color:brown;
}


/* lab5 */
a:link{
    color: black;
}
a:visited{
    color:gray;
}
a:active{
    color:yellow;
}
a:hover{
    color:rgb(128, 128, 251);
}
span{
    color: blue;
    font-style: italic;
    font-weight: bold;
}
.projects div{
    
    width: 29.3%;
    margin-right: 0.3em;
    padding: 7px;
  
}
div.projects{
    display: flex;
    justify-content: center;
    width: 90%;
    margin-left: 80px;
    margin-bottom: 40px;
}
#aboutHeader{
    clear: right;
}
.see-more{
    clear: right;
    padding-top: 15px;
    padding-bottom: 40px;
}
p:first-child{
    text-indent: 1em;
}
.see-more a:after{
    content: " →";
}
dt:before{
    content:"✨";
}






#main-header{
    font-style: italic;
    text-align: center;
    font-size: 40px;
}


ul{
    width: 30%;
    height: 30%;
    color: blue;
    font-family: monospace;
    margin: 10px;
    padding: 10px 30px 10px 40px ;
}
ul li{
    padding-left: 5px;
    list-style-type:circle;
}



ol{
    width: 30%;
    height: 30%;
    color: blue;
    font-family: monospace;
    margin: 10px;
    padding: 10px 30px 10px 40px ;
}



dl{
    width: 60%;
    height: 60%;
    font-family: monospace;
    margin-left: 240px;
    padding: 30px;
}
dt{
    color: blue;
}
dd{
    color: rgb(0, 0, 0);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
}



table,td,th{
    border: 1px solid #1D1D1D;
    border-collapse: collapse;
}
table{
    width: 90%;
    height: 70%;
    color: gray;
    margin: 10px 0px 30px 70px ;
    background-color: beige;
}
td{
    font-size: 14px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 5px;
}
th{
    color: #1D1D1D;
    padding: 10px;
}

.row-white>td{
    background-color: white;
}
